.Blogspot{
    background-image: url(../Images/Blog-gradient.png);
    background-size: cover;
    .title{
        display: flex;
        flex-direction: row-reverse;
    }
    h1{
        font-family: raleway;
        font-weight: 700;
        font-size: 8em;
        color: white;
        opacity: 0.44;
        padding-bottom: 0.4em;
        white-space: nowrap;
        transform: translateX(40px);
        -webkit-transform: translateX(40px);
    }
    .scrollmenu {
        overflow: auto;
        width: 100%;
        padding: 2em;
        white-space: nowrap;
        padding-bottom: 4em;
        padding-left: 0%;
      }
    .card:first-child {
      margin-left: 9%;
    }
    .card{
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      background: linear-gradient(-45deg, rgba(255, 255, 255, 0), rgba(255,255,255,0.3));
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.13);
      border-radius: 10px;
      width: 18em;
      height: 23em;
      margin-right: 2em;
      padding: 2em;
      border: 2px solid rgba(255, 255, 255, 0.404);
      transition: all .5s ease;
      cursor: pointer;
      h2{
          font-family: BNoodle;
          font-weight: normal;
          font-size: 2em;
          color: white;
          span{
              color: #FFCF00;
          }
          margin-bottom: 0.4em;
          white-space: normal;
      }
      p{
        color: white;
        line-height: 1.5;
        margin-bottom: 2em;
        font-family: raleway;
        font-weight: 500;
        white-space: normal;
        font-size: 0.95em;
      }
      a{
          padding: 0.8em 2em;
          width: 9.3em;
          text-decoration: none;
          color: white;
          background-color: #FFCF00;
          border-radius: 8px;
          font-family: raleway;
          font-weight: 600;
      }
      }
      .card:hover{
        transform: translate3D(0,-1px,0) scale(1.09);
      }
    .scrollmenu::-webkit-scrollbar 
      {
       display: none;
      }
    
}

@media only screen
and (max-width: 767px){
  .Blogspot{
    background-position: center;
    h1{
      font-size: 4.8em;
      transform: translateX(20px);
      -webkit-transform: translateX(20px);
    }
    .card:hover{
      transform: translate3D(0,-1px,0) scale(1.0);
    }
  }
}

@media only screen 
and (min-width: 351px)
and (max-width: 400px){

    .Blogspot{
        h1{
            font-size: 4.3em 
        }
    } 
}

@media only screen 
and (max-width: 350px){
    .Blogspot{
        h1{
            font-size: 3.5em 
        }
    } 
}