.Board{
    h1{
        font-family: raleway;
        font-weight: 700;
        font-size: 8em;
        color: #CECECE;
        transform: translateX(-40px);
        -webkit-transform: translateX(-40px);
        padding-bottom: 1em;
        white-space: nowrap;
    }
}