.Initiatives{
    height: 110vh;
    .title{
        display: flex;
        flex-direction: row-reverse;
    }
    h1{
        font-family: raleway;
        font-weight: 700;
        font-size: 8em;
        color: #CECECE;
        padding-bottom: 1em;
        white-space: nowrap;
        transform: translateX(30px);
        -webkit-transform: translateX(30px);
    }
}

@media only screen
and (max-width: 767px){
    .Initiatives{
        h1{
            font-size: 4em;
            transform: translateX(20px);
            -webkit-transform: translateX(20px);
            span{
                display: none;
            }
        }
    }
}
