.Vid{
    .videot{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    width: 1050px !important;
    height: 520px !important;
    margin-bottom: 7em;
    }
    p{
        width: 65%;
        font-size: 1.4em;
        font-weight: 500;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: raleway;
        margin-top: 5em;
        line-height: 1.5;
        margin-bottom: 4em;
    }
    #play{
        background-color: transparent;
        border: none;
        img{
            width: 6em;
        }
    }
    #play:hover{
        cursor: pointer;
    }
    .react-player__preview{
        border-radius: 10px;
        box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.212);
    }
}

@media only screen 
and (min-width: 1024px)
and (max-width: 1080px){

}

@media only screen 
and (min-width: 768px)
and (max-width: 1023px){

}
@media only screen and (max-width: 767px){

}
   
@media only screen 
and (min-width: 350px)
and (max-width: 400px){
    
}