.GalleryP{
    .Ghead{
    min-height: 90vh;
    background-image:  linear-gradient(#000000, #001950);
    padding-left: 4em;
    .contoverflow{
        padding-bottom: 4.5em;
    }
    .title{
        display: flex;
        align-items: center;
        margin-top: 3em;
        text-decoration: none;
        img{
            width: 4.5em;
            margin-right: 1.2em;
        }
        p{
            font-size: 2.6em;
            font-family: Bnoodle;
            color: white;
        }
    }
    .content{
        h3,h4{
            font-family: Bnoodle;
            margin-top: 15vh;
            font-size: 2.9em;
            font-weight: 500;
            color: white;
        }
        h4{
            font-size: 2.4em;
            color: #FFCF00;
            margin-top: 0.2em;
        }
        p{
            font-family: raleway;
            font-weight: 500;
            color: white;
            font-size: 1.3em;
            width: 90%;
            line-height: 1.6;
            margin-top: 2em;
            span{   
                color: #FFCF00;
            }
            margin-bottom: 3em;
        }
        a{
        padding: 0.8em 2em;
        text-decoration: none;
        background-color: transparent;
        border: #FFCF00 3px solid;
        border-radius: 0px;
        color: #FFCF00;
        font-family: raleway;
        font-weight: 600;
        outline: none;
        font-size: 1.1em;
        cursor: pointer;
        }   
        a:hover{
            background-color: #FFCF00;
            color: white;
        }
    }   
    .galleryscroll{
        overflow: hidden;
        .roll{
            position: absolute;
            right: 0;
            width: 80%;
            height:950%;
            background-image: url(../Images/Galleryscroll.jpg);
            background-size: contain;
            background-repeat: repeat;
            animation: slide 120s linear infinite;  
        }   
        @keyframes slide {
            from { background-position-y: 0; }
            to   { background-position-y: -100%; }
          }
    }
} 
}

@media only screen 
and (min-width: 1400px){
    .GalleryP{
        .Ghead{
            .title{
                img{
                    width: 5em;
                }
                p{
                    font-size: 2.8;
                }
            }
            .content{
                h3,h4{
                    font-size: 3.2em;
                    margin-top: 20vh;
                }
                h4{
                    margin-top: 0.2em;
                }
                p{
                    margin-top: 3em;
                    margin-bottom: 3.5em;
                }
                
            }
        }
    }
}

@media only screen 
and (min-width: 1024px)
and (max-width: 1080px){
    .GalleryP{
        .Ghead{
            min-height: 70vh;
            .content{
                h3,h4{
                    font-size: 2.9em;
                    margin-top: 20vh;
                }
                h4{
                    margin-top: 0.3em;
                }
                p{
                    margin-top: 4em;
                    margin-bottom: 4.5em;
                }
                
            }
        }
    }
}

@media only screen 
and (min-width: 768px)
and (max-width: 1023px){
    .GalleryP{
        max-height: 80vh;
        .Ghead{
            .content{
                h3,h4{
                    font-size: 2.9em;
                    margin-top: 20vh;
                }
                h4{
                    margin-top: 0.3em;
                }
                p{
                    margin-top: 4em;
                    margin-bottom: 4.5em;
                }
                
            }
            .galleryscroll{
                display: none;
            }
        }
    }
}

@media only screen 
and (max-width: 767px){
    .GalleryP{
        .Ghead{
            padding-left: 3em;
            .content{
                h3,h4{
                    font-size: 2.5em;
                    margin-top: 15vh;
                }
                h4{
                    margin-top: 0em;
                }
                p{
                    font-size: 1em;
                    margin-top: 3em;
                    margin-bottom: 5em;
                }
                
            }
            .galleryscroll{
                display: none;
            }
        }
    }
}