@font-face {
    font-family: "BNoodle";
    src: url("../Fonts/BigNoodle/big_noodle_titling.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BNoodle";
    src: url("../Fonts/BigNoodle/big_noodle_titling_oblique.ttf") format("ttf");
    font-weight: normal;
    font-style: italic;
  }
