@font-face {
    font-family: BNoodle;
    src: url("../Fonts/BigNoodle/big_noodle_titling.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: BNoodle;
    src: url("../Fonts/BigNoodle/big_noodle_titling_oblique.ttf");
    font-weight: normal;
    font-style: oblique;
}

@import "./Nav";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }